meta(charset="utf-8")
title= title || 'TITLE'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")

// favicon
//- link(rel="icon" href="img/fav/favicon.ico" type="image/x-icon")
link(rel='shortcut icon' href='img/favicon.jpg' type='image/jpg')

// seo meta
meta(name="description" content="Meta description")
meta(name="keywords" content="Key, words")
meta(name="author" content="Site name")

//- // og meta
//- meta(property='og:title', content='test-work')
//- meta(property='og:url', content='test-work link')
//- meta(property='og:image', content='http://test-work.surge.sh/img/share.png')
//- meta(property='og:description', content='test-work')
//- meta(name='twitter:title', content='test-work')
//- meta(name='twitter:description', content='test-work')
//- meta(name='twitter:image:src', content='http://test-work.surge.sh/img/share.png')
//- meta(name='twitter:url', content='test-work link')

// remove for production
meta(name="robots" content="noindex")

//- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
link(rel="stylesheet" media="all" href="css/app.css")

<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->
